@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.prose table {
  font-size: 0.875rem;
  display: block;
  overflow-x: auto;
}

.prose th {
  background-color: #f1f5f9;
  font-weight: 600;
  text-align: left;
}

.prose td {
  border-bottom: 1px solid #e2e8f0;
}

.prose tr:hover {
  background-color: #f8fafc;
}
